!!! 5
%html
  %head
    %title ASC - A Space Combat
    %script{:src => "env.js", :type => "text/javascript"}
    %script{:src => "libs.min.js", :type => "text/javascript"}
    %script{:src => "main.js", :type => "text/javascript"}
    %script{:src => "ui.js", :type => "text/javascript"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "libs.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "main.css"}
  %body
    #viewport
      #game
      #setup
        %h1.disconnected Disconnected
        %h1.connected Connected
        %form
          %select{:id => "channel"}
            %option{:value => "0", :disabled => "disabled", :selected => "selected"} Select room
            %option{:value => "1"} One
            %option{:value => "2"} Two
            %option{:value => "3"} Three
        %fieldset
          %legend Ship setup
